body {
  font-family: Roboto;
  background: blue;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00, #1F1C18);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8E0E00, #1F1C18);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body svg {
  height : 200px;
}
 body svg #heart {
  filter:url(#shadowFilter)
} 
body svg #heart:hover {
    cursor : pointer;
  transform-origin : 50% 50%;
    filter:url(#beatingHeartFilter);
}
body svg #heart1:hover {
  cursor : pointer;
  transform-origin : 50% 50%;
    filter:url(#distortionFilter);
}
body svg #heart2 {
  filter : url(#shadowFilter);
}
body svg #heart2:hover { 
   cursor : pointer;
/*   transform-origin : 50% 50%; */
    filter:url(#fancyFilter);
}
